body {
	background-color: #212121;
	color: #82c8ae;
	text-align: justify;
	line-height: 1.7;
	max-width: 70%;
	margin: 2em auto;
	}
hr {
	display: solid;
	color: gray;
	margin: 0.5em auto;
	}
h1 {
	color: #008080;
	font-size: 30px;
	margin-top: 45px;
	}	
   .title {
	color: #82c8ae;	   
	margin: 35px;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
	font-size: 40px;
	}
	.text {
	color: #93bbac;
	font-size: 18px;
	}
/* below are for links */
		a:link {
			color: #7d97c2
			}	
		a:visited {
			color: #a87dc2
			}
		a:hover {
			color: #93bbac
			}


