body {	
	background: #1d1d1d;
}
.order {
	display: inline-block;
	border: solid #5F9EA0;
	color: white;
	background: #1d1d1d;
	padding: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 250px;
	height: 400px;
	margin: 15px;
}
.nav_bar {
	border: dashed yellow;
	height: 30px;
}
.nav {
	width: 50px;
	height: 20px;
	padding: 1px;
	background: none;
	border: none;
	color: #dbdbdb;
}
	.nav:hover {
	background:
}
